.header ul {
  display: grid;
  grid-template-columns: 100px 500px 1fr 100px 80px;
  /* margin-right: 55px;
  margin-left: 50px;
  margin-top: 20px; */
  margin: 20px 55px 10px 50px;
}
.login ul {
  display: grid;
  grid-template-columns: 100px 500px 1fr 80px 100px 50px;
  margin-right: 55px;
  margin-left: 50px;
  margin-top: 20px;
}

.list {
  list-style: none;
}

.list a {
  text-decoration: none;
  color: black;
}

.list a.active {
  text-decoration: underline;
  color: rgb(245, 160, 32);
  font-size: 18px;
}
.list :hover {
  /* text-decoration: underline; */
  color: rgb(245, 160, 32);
}
